In [162]:
import numpy as np
import pandas as pd
import joblib

In [165]:
data1 = pd.read_csv('movie_metadata.csv')

In [166]:
data1.shape

(5043, 28)

In [167]:
pd.set_option('display.max_columns' , None )

In [168]:
# data['movie_title'] = data['movie_title'].str.lower()

In [169]:
data = data1.loc[:,['actor_1_name','actor_2_name','actor_3_name','director_name','genres','movie_title'] ].copy()

In [170]:
data.head(1)

,actor_1_name,actor_2_name,actor_3_name,director_name,genres,movie_title
0,CCH Pounder,Joel David Moore,Wes Studi,James Cameron,Action|Adventure|Fantasy|Sci-Fi,Avatar

In [171]:
data.isnull().sum(axis=0)

actor_1_name       7
actor_2_name      13
actor_3_name      23
director_name    104
genres             0
movie_title        0
dtype: int64

In [172]:
data['actor_1_name'] = data['actor_1_name'].replace(np.nan, 'unknown')
data['actor_2_name'] = data['actor_2_name'].replace(np.nan, 'unknown')
data['actor_3_name'] = data['actor_3_name'].replace(np.nan, 'unknown')
data['director_name'] = data['director_name'].replace(np.nan, 'unknown')

In [173]:
data['genres'] = data['genres'].replace('|', ' ')

data['movie_title'] = data['movie_title'].str.lower()

print( data['movie_title'][0] )

data['movie_title'] = data['movie_title'].str[:-1]

print( data['movie_title'][0] )

avatar
avatar

In [174]:
data['comb'] = data['actor_1_name'] + ' ' + data['actor_2_name'] + ' '+ data['actor_3_name'] + ' '+ data['director_name'] +' ' + data['genres']

In [175]:
data.to_csv('data.csv')

In [135]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [136]:
cv = CountVectorizer()
count_matrix = cv.fit_transform(data['comb'])

In [137]:
sim = cosine_similarity(count_matrix)

In [164]:
# joblib.dump( sim , 's.pkl')

['s.pkl']

In [138]:
np.save('similarity_matrix', sim)

In [146]:
data1[['movie_title']].to_csv('movie.csv' , index = False)

# Top 10 Recommendation for the entered movie

In [156]:
sim1 = np.load('similarity_matrix.npy')
mov_data = pd.read_csv('movie.csv')
mov_data['movie_title1'] = mov_data['movie_title'].str.lower().apply( lambda s  : s[:-1])

In [161]:
movie = 'iron man'
movie = movie.lower()

if movie in mov_data['movie_title1'].unique():
    indx = mov_data.query('movie_title1 == @movie').index[0]
    sim_list = [ (k,v) for k,v in list(enumerate( sim1[indx , : ] ) ) if k!= indx ]
    sim_list = sorted( sim_list , key = lambda x : x[1] , reverse = True )
    sim_list = [ k for k,v in sim_list[ : 10 ] ] 
    print( *mov_data.loc[ sim_list , 'movie_title' ].values.tolist() , sep = '\n' )
else:
    print( 'The movie is not available in the database or please check for the spelling..')

Iron Man 2
Iron Man 3
Deep Impact
Zathura: A Space Adventure
Made
Avengers: Age of Ultron
The Avengers
Captain America: Civil War
The Avengers
TRON: Legacy

In [160]:
movie = 'i'
movie = movie.lower()

if movie in mov_data['movie_title1'].unique():
    indx = mov_data.query('movie_title1 == @movie').index[0]
    sim_list = [ (k,v) for k,v in list(enumerate( sim1[indx , : ] ) ) if k!= indx ]
    sim_list = sorted( sim_list , key = lambda x : x[1] , reverse = True )
    sim_list = [ k for k,v in sim_list[ : 10 ] ] 
    print( *mov_data.loc[ sim_list , 'movie_title' ].values.tolist() , sep = '\n' )
else:
    print( 'The movie is not available in the database or please check for the spelling..')

The movie is not available in the database or please check for the spelling..